body {
  background: black;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

img {
  border-radius: 50%;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  height: auto;
  max-width: 130px;
}

.profile-name {
    text-align: center;
    padding: 30px;
    font-size: 22px;
}

.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.8s; 
}

.bottom-text {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.links:hover {
  color: #000;
  background: #fff;
}


@media only screen and (max-width: 600px) {
  .links {
    margin-top: 20px;
    padding: 12px;
    border: 0.5px solid white;
    border-width: 1px;
    width: 290px;
  }
  .profile-picture{
    margin-top: 13%;
  }
}



/*
.bloodgroup{
  animation-name: colorChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes colorChange{    
  0% {
      color:#d11f1f;
  }
  25% {
      color: rgb(255, 123, 0);
  }
  50% {
      color:orange;
  }
  100%{
      color: rgb(238, 42, 42);
  }
}
*/
